
<div class="outer-wrap">
    <div class="content-wrap">

        <header id="header">
            <div id="logo">ToDos</div>

            <nav id="site-nav">
                <a href="#" class="current">All</a>
                <a href="#">Active</a>
                <a href="#">Unstarted</a>
                <a href="#">Ongoing</a>
                <a href="#">Revising</a>
                <a href="#">Done</a>
            </nav>
        </header>

        <main id="body">
            <div id="task-details-wrap">
                <div class="back-wrap">
                    <a href="/">« Back</a>
                </div>
                <div class="task-details-title">
                    <h4>Title:</h4>
                    <div class="details-field-wrap">
                        <h2 class="edit-target">Task Title Here</h2>
                        <input type="text" id="edit-title" class="edit-field">
                        <button class="confirm-edit btn">Save</button>
                    </div>
                </div>
                <div class="task-details-description">
                    <h4>Description:</h4>
                    <div class="details-field-wrap">
                        <p class="edit-target">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit, ligula ut tincidunt eleifend, lacus nisi imperdiet nunc, efficitur viverra lectus metus vitae magna. Vestibulum augue ligula, mollis suscipit maximus quis, elementum ac turpis. Integer laoreet hendrerit suscipit. Nulla non felis id quam lacinia malesuada eget vel nulla. Sed non volutpat velit.</p>
                        <textarea name="" id="edit-description" cols="30" rows="5" class="edit-field"></textarea>
                        <button class="confirm-edit btn">Save</button>
                    </div>
                </div>
                <div class="task-details-status-wrap">
                    <h4>Status</h4>
                    <div>
                        <span class="task-status selected-status">Unstarted</span>
                        <span class="task-status">Ongoing</span>
                        <span class="task-status">Revising</span>
                        <span class="task-status">Done</span>
                    </div>
                </div>

                <div class="delete-section">
                    <h4>Delete "Task title here"?</h4>
                    <button class="btn">Delete</button>
                </div>
            </div>
        </main>

    </div>
</div>